{% extends 'base.html' %}

{% block title %}
Game added to cart
{% endblock %}


{% block content %}
<h2>Game added to cart</h2>
<h3>{{game.title}}</h3>
<img class="featurette-image img-responsive center-block" width="20%" src="{{game.icon}}" alt="Generic placeholder image">
<br>

<p align="center"><a class="btn btn-default" href="/games/" role="button">Continue shopping &raquo;</a></p>
<p align="center"><a class="btn btn-default" href="/player/cart" role="button">Show Shopping Cart &raquo;</a></p>
{% endblock %}
