{% extends 'base.html' %}

{% block title %}
Game added to cart
{% endblock %}


{% block content %}
<h2>Game added to cart</h2>
{% if game.icon %}
<img class="featurette-image img-responsive center-block" alt="Generic placeholder image" width="20%" src="{{game.icon}}"</img>
{% else %}
<img class="featurette-image img-responsive center-block" alt="Generic placeholder image" width="20%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
{% endif %}
<h3>{{game.title}}</h3>
<br>

<p align="center"><a class="btn btn-default" href="/games/" role="button">Continue shopping &raquo;</a></p>
<p align="center"><a class="btn btn-default" href="/player/cart" role="button">Show Shopping Cart &raquo;</a></p>
{% endblock %}
