{% extends 'base.html' %}

{% block title %}
Gamestore
{% endblock %}

{% block script_jquery %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div align="center">
        <h1>Gamestore</h1>
        <h4>Hottest games available at GameStop around the clock!</h4>
      </div>

      <div id="game-grid">
      <div class="row collapse" id="action">
        <hr><h3 align="center"> Action games</h3><hr>
        {% for game in games_action %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

      <div class="row collapse" id="roleplay">
      <hr><h3 align="center"> Roleplaying </h3><hr>
        {% for game in games_rp %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

      <div class="row collapse" id="fps">
        <hr><h3 align="center"> First Person Shooter</h3><hr>
        {% for game in games_fps %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

      <div class="row collapse" id="sim">
          <hr><h3 align="center"> Simulation games</h3><hr>
        {% for game in games_sim %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

      <div class="row collapse" id="strat">
        <hr><h3 align="center"> Strategy games</h3><hr>
        {% for game in games_strat %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

      <div class="row collapse" id="misc">
        <hr><h3 align="center"> Miscallaneous games</h3><hr>
        {% for game in games_misc %}
        <div class="col-xs-6 col-lg-4">
            <h2 align="center">{{game.title}}</h2>
            <!--add gamepicture here-->
            {% if game.icon %}
            <img align="center" height="80%" width="80%" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" height="80%" width="80%" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}
            <h4 align="center">{{game.price}} &euro;</h4>
            <p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
      </div><!--/row-->

    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--#game-grid-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <h2>Categories</h2>
      <div class="list-group"><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#action"> Action</input><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#roleplay"> Roleplaying </input><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#fps"> First Person Shooter</input><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#sim"> Simulation</input><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#strat"> Strategy</input><hr>
        <input type="checkbox" data-toggle="collapse" data-target="#misc"> Other</input><hr>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->
</div><!--/.container-->

{% endblock %}
