{% extends 'base.html' %}

{% block title %}
Gamestore
{% endblock %}

{% block script_jquery %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs"> </p>
      <div class="jumbotron" align="center">
        <h1>Gamestore</h1>
        <br><br>

      <div id="game-grid">
        <h4 id=no-games-message></h4>
        <table align="center" id="all-games">
          <tr class="header">
            <th align="center" style="width:20%;"></th>
            <th style="width:60%;"></th>
            <th style="width:10%;"></th>
            <th style="width:10%;"></th>
          <tr>
          {% for game in games_all %}
          <tr>
            <td align="center">{% if game.icon %}
            <img align="center" style="max-width:200px;" style="max-height:200px;" src="{{game.icon}}"</img>
            {% else %}
            <img align="center" style="width:200px;" style="height:200px;" src="https://image.freepik.com/free-icon/educational-questions-hand-drawn-speech-bubble_318-73005.jpg"</img>
            {% endif %}</td>
            <td><a href="/games/{{game.id}}" align="center"><h3>{{game.title}}</h3></a></td>
            <td><p align="center" hidden>{{game.category}}</p></td>
            <td><h4 align="center">{{game.price}} &euro;</h4><p align="center"><a class="btn btn-default" href="/games/{{game.id}}" role="button">See more ></a></p></td>
          </tr>
          {% endfor %}
        </table>
      </div><!--#game-grid-->
    </div><!--/.col-xs-12.col-sm-9-->
</div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <h2>Categories</h2>
      <div class="list-group">
        <a href="#" id="RP" class="list-group-item active" onclick="filterCategory(this.id)">Roleplaying</a>
        <a href="#" id="FPS" class="list-group-item active" onclick="filterCategory(this.id)">First Person Shooter</a>
        <a href="#" id="A" class="list-group-item active" onclick="filterCategory(this.id)">Action</a>
        <a href="#" id="SM" class="list-group-item active" onclick="filterCategory(this.id)">Simulation</a>
        <a href="#" id="SR" class="list-group-item active" onclick="filterCategory(this.id)">Strategy</a>
        <a href="#" id="O" class="list-group-item active" onclick="filterCategory(this.id)">Other</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
    <h2>Search</h2>
    <input type="text" id="searchbar" onkeyup="search()" placeholder="Search for games...">
  </div><!--/row-->
</div><!--/.container-->

<!--onclick="this.style.color='#fffff'; this.style.backgroundColor = '#90EE90'"-->
<script>
function search() {
  // Declare variables
  var input, filter, games, tr, td, i, bool;
  input = document.getElementById("searchbar");
  filter = input.value.toUpperCase();
  games = document.getElementById("all-games");
  tr = games.getElementsByTagName("tr");
  bool = false;

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++){
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        bool = true;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  if(bool===false){
    document.getElementById("no-games-message").innerHTML = "No games found, try other search";
  } else {
    document.getElementById("no-games-message").innerHTML = "";
  }
}

function filterCategory(category) {
  var games, tr, td, i, bool;
  games = document.getElementById("all-games");
  tr = games.getElementsByTagName("tr");
  bool = false

  for (i = 0; i < tr.length; i++){
    td = tr[i].getElementsByTagName("td")[2];
      if (td) {
    //if category abbreviation equals game's category -> show
        if (td.innerHTML.indexOf(category) > -1) {
          tr[i].style.display = "";
          bool = true;
        } else {
          tr[i].style.display = "none";
        }
    }
  }
  if(bool === false){
    document.getElementById("no-games-message").innerHTML = "There are no games in this category yet";
  } else {
        document.getElementById("no-games-message").innerHTML = "";
  }
}
</script>
{% endblock %}
