
{% extends 'base.html' %}

{% block title %}
GameStop - {{game.title}}
{% endblock %}

{% block script_jquery %}
<script>
/* Source https://docs.djangoproject.com/en/dev/ref/csrf/ */
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    var csrftoken = getCookie('csrftoken');
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

function show_message(message) {
  $('#message').html(message);
  $('#message').show().delay(2000).hide(0);
}

/* global $ */
$(document).ready(function() {
  'use strict';
  $(window).on('message', function(evt) {
    //Note that messages from all origins are accepted

    /* Split Url to get GameId */
    var url = ($(location). attr("href"));
    var url_split = url.split('/');
    var game_id = url_split[url_split.length-2];

    /* Get data from sent message
     * Message types from game to service: SCORE, SAVE, LOAD_REQUEST, SETTING */
    var data = evt.originalEvent.data;
    var message_url = "/player/update_game_data/";
    var message_type = "POST";
    var success_message = "";
    var fail_message = "";
    console.log(data.messageType);
    switch (data.messageType) {
      case 'SCORE':
        message_type = "POST";
        success_message = "Score saved!";
        fail_message = "Score could not be saved!";
          $.ajax({
          type: message_type,
          url: message_url,
          data: { 'gameId' : game_id,
                  'messageType' : 'SCORE',
                  'score' : data.score,
                },
          success: function() { show_message(success_message); },
          fail: function() { show_message(fail_message); }
        });
        break;
      case 'SAVE':
        message_type = "POST";
        success_message = "Game State Saved!";
        fail_message = "Game State could not be Saved!";
          $.ajax({
          type: message_type,
          url: message_url,
          data: { 'gameId' : game_id,
                  'messageType' : 'SAVE',
                  'state' : JSON.stringify(data.gameState),
                },
          success: function() { show_message(success_message); },
          fail: function() { show_message(fail_message); }
        });
        break;
      case 'LOAD_REQUEST':
        message_type = "GET";
        success_message = "Loading Game ...";
        fail_message = "Game could not be loaded";
          $.ajax({
          type: message_type,
          url: message_url,
          data: { 'gameId' : game_id,
                  'messageType' : 'LOAD_REQUEST',
                },
          success: function(data) {
              show_message(success_message);
              var msg = { "messageType": "LOAD",
                          "gameState": JSON.parse(data)
                        };
              document.getElementById('gameFrame').contentWindow.postMessage(msg, "*");
          },
          fail: function() {
              show_message(fail_message);
              var msg = { "messageType": "ERROR",
                          "info": "JSON.parse(data)",
                        };
              document.getElementById('gameFrame').contentWindow.postMessage(msg, "*");
          }
        });
        break;
      case 'SETTING':
        $('#iframeWrapper').width(data.options.width);
        $('#iframeWrapper').height(data.options.height);
        break;
      default:
        break;
    }
  });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="center-block" style="width:500px;"> <br>
    <p class="lead" id="message"></p>
  </div>
</div>
<div class="row">
  <div id="iframeWrapper" class="center-block" style="width:900px;height:100px;"> <br><br>
    <div class="embed-responsive embed-responsive-16by9">
    <iframe  id="gameFrame" src="{{game.url}}" class="embed-responsive-item "/>
    </div>
  </div>
</div>
{% endblock %}
