{% extends 'base.html' %}

{% block title %}
Cart
{% endblock %}


{% block content %}
<h2>Shopping cart</h2>
<img class="featurette-image img-responsive center-block" width="15%" src="https://cdn4.iconfinder.com/data/icons/e-commerce-and-shopping-3/500/cart-checked-128.png" alt="Generic placeholder image">
<br>

{% if cart_games %}
  <p class="lead">Games in the cart</p>
    <div class="row">
      <div class="center-block" style="width:80%;">
        <table id="cart-table" class="table table-striped table-responsive">
          <thead>
            <tr>
              <th id="title-col">Game Title</th>
              <th id="price-col">Game Price</th>
            </tr>
          </thead>
          <tbody>
          {% for game in cart_games.all %}
            <tr>
              <td><a href="/games/{{game.id}}">{{game.title}}</a></td>
              <td class="countable">{{game.price}}</td>
              <td><a href="/games/{{game.id}}/removed/">X</a>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <h2 id="cart-sum"></h2><!--javascript calculator-->
        <hr>
        <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
          <input type="hidden" name="pid" value="{{pid}}" />
          <input type="hidden" name="sid" value="{{sid}}" />
          <input type="hidden" name="success_url"
            value="http://localhost:8000/player/payment/success" />
          <input type="hidden" name="cancel_url"
            value="http://localhost:8000/player/payment/cancel" />
          <input type="hidden" name="error_url"
            value="http://localhost:8000/player/payment/error" />
          <input type="hidden" name="checksum" value="{{checksum}}" />
          <input type="hidden" name="amount" value="{{amount}}" />
          <!-- <input type="hidden" name="dev" value="{{amount}}" /> -->
          <p align="center"><input type="submit" class="btn btn-default" value="Pay now"/></p>
        </form>
      </div>
    </div>
{% else %}
  <div class="row">
    <div class="center-block" style="width:500px;">
      <p class="lead"> You have no games in the cart yet. </p>
    </div>
  </div>
{% endif %}
<p align="center"><a class="btn btn-default" href="/games/" role="button">Continue shopping &raquo;</a></p>

<script>
var cls = document.getElementById("cart-table").getElementsByTagName("td");
var sum = 0;
  for (var i = 0; i < cls.length; i++){
    if(cls[i].className == "countable"){
        sum += isNaN(cls[i].innerHTML) ? 0 : parseFloat(cls[i].innerHTML);
    }
}
    document.getElementById("cart-sum").innerHTML = "Total: " + sum.toFixed(2) + "€";
</script>

{% endblock %}
