{% extends 'base.html' %}

{% block title %}
player index
{% endblock %}


{% block content %}
<h2 class="featurette-heading">Welcome {{user.first_name}},<span class="text-muted"></span></h2>
  <img align="center" width="20%" style="min-width:150px" src="https://image.freepik.com/free-vector/super-businessman_1012-190.jpg" />
  {% if gameData %}
    <h3>Your Games</h3>
      <div class="row">
        <div class="center-block" style="width:500px;">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Game Title</th>
                <th>Game Price</th>
                <th>My Top Score</th>
                <th>Highest Score</th>
              </tr>
            </thead>
            <tbody>
              {% for data in gameData %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="/games/play/{{data.game.id}}">{{data.game.title}}</a></td>
                <td>{{data.game.price}}</td>
                <td>{{data.player_high_score}}</td>
                <td>{{data.game.highest_score}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  {% else %}
    <div class="row">
      <div class="center-block" style="width:500px;">
        <p class="lead"> You have not purchased any games yet. </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
