{% extends 'base.html' %}

{% block title %}
Register at GameStop
{% endblock %}


{% block content %}
<div class="row">
  <div class="center-block" style="width:80%">
    <form class="form-signin" method="post" action=""> {% csrf_token %}
        <h2 class="form-signin-heading">Registration Form</h2>
        <div class="help-inline">{{form.non_field_errors}}</div>
        {% for field in form %}
          {% if field != form.user_type %}
          {{ field.errors }}
          <label for="{{field.name}}" class="{{form.label_class}}">
            {{field.label}}
          </label> {{field}} <br>
          {% endif %}
        {% endfor %}
        <div class="btn-group" data-toggle="buttons">
        {% for radio in form.user_type %}
          <label class="btn btn-default">
          <input type="radio" autocomplete="off" /> {{radio}}
          </label>
        {% endfor %} <br>
        </div>
        <br> <br>
        <button class="btn btn-lg btn-primary btn-block" style="max-width:160px" type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}
