{% extends 'base.html' %}

{% block title %}
Register at GameStop
{% endblock %}


{% block content %}
<div class="container">
    <form class="form-signin" method="post" action=""> {% csrf_token %}
        <h2 class="form-signin-heading">Registration Form</h2>
        <div class="help-inline">{{form.non_field_errors}}</div>
        {% for field in form %}
          {% if field != form.user_type %}
          {{ field.errors }}
          <label for="{{field.name}}" class="{{form.label_class}}">
            {{field.label}}
          </label> {{field}}
          {% endif %}
        {% endfor %}
        <div class="btn-group" data-toggle="buttons">
        {% for radio in form.user_type %}
          <label class="btn btn-default">
          <input type="radio" autocomplete="off" /> {{radio}}
          </label>
        {% endfor %}
        </div>
        <br> <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{% endblock %}
