
{% extends 'base.html' %}

{% block title %}
Add Game to GameStop
{% endblock %}


{% block content %}
<p><br></p>
<div class="row">
  <div class="center-block" style="width:500px;">
    <p class="lead">Add your game here</p>
    <form class="form-signin" method="post" action=""> {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
         <label for="{{field.name}}" class="{{form.label_class}}">
          {{field.label}}
        </label> {{field}} <br>
      {% endfor %} <br>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}
