
{% extends 'base.html' %}

{% block title %}
Welcome to GameStop
{% endblock %}


{% block content %}
<h2 class="featurette-heading">Welcome {{name}},<span class="text-muted"></span></h2>
  {% if games %}
    <p class="lead">Your Games</p>
    <div class="row">
      <div class="center-block" style="width:500px;">
        <table class="table table-striped table-responsive text-centered">
          <thead class="row-fluid">
            <tr>
              <th>#</th>
              <th>Game Title</th>
              <th>Game Price</th>
              <th>Number of users</th>
              <th>Highest Score</th>
            </tr>
          </thead>
          <tbody>
            {% for game in games %}
            <tr>
              <th>{{forloop.counter}}</th>
              <td><a href="{{game.url}}">{{game.title}}</a></td>
              <td>{{game.price}}</td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="center-block" style="width:500px;">
        <p class="lead"> You have not added any games yet. </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
